//Tamaño Media Queries 
$mobile: 360px;
$tablet: 768px;
$desktop: 1200px;

//Fuentes
$fuente_principal: "Inter", sans-serif;

//Colores
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);

$Grey500: hsl(215, 17%, 45%);
$Grey300: hsl(215, 43%, 77%);

$Blue900: hsl(215, 31%, 21%);
$Blue500: hsl(227, 92%, 58%);
$Blue300: hsl(209, 69%, 82%);
$Blue100: hsl(228, 94%, 94%);

$Gradient1: hsl(183, 95%, 92%);
$Gradient2: hsl(216, 95%, 92%);


//Tamaños fuente
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;